<template>
  <div>
    <q-card flat bordered class="q-pa-md">
      <q-form @submit.prevent.stop="onGroupSubmit" class="row">
        <div class="col q-col-gutter-y-md">
          <q-input
            outlined
            v-model="group.name"
            :label="$t('groupsEdit.name') + ' *'"
            stack-label
            :rules="[
              (val) => !!val || $t('misc.required'),
              (val) => val.length >= 2 || '2 ' + $t('misc.minimumCharacters'),
              (val) => val.length <= 60 || '60 ' + $t('misc.maximumCharacters'),
            ]"
          >
          </q-input>

          <div class="q-gutter-md">
            <q-btn
              unelevated
              round
              color="positive"
              type="submit"
              icon="fas fa-check-circle"
            />
            <q-btn
              unelevated
              round
              color="info"
              :to="{ name: 'groups-list' }"
              icon="fas fa-undo"
              v-close-popup
            />
          </div>
        </div>
      </q-form>
    </q-card>
  </div>
</template>

<script>
import { Notify } from "quasar";
export default {
  name: "createOrUpdateGroups",
  data() {
    return {
      pk: null,
      group: {
        name: "",
      },
      editing: false,
    };
  },
  methods: {
    onGroupSubmit() {
      if (this.editing) {
        this.updateGroup();
      } else {
        this.createGroup();
      }
    },
    async createGroup() {
      try {
        await this.$apiInstance.post("/groups/", this.group);
        try {
          Notify.create({
            message: this.$t("groups.created"),
            color: "positive",
          });
          this.$router.push({
            name: "groups-list",
          });
        } catch (e) {
          throw e;
        }
      } catch (e) {
        Notify.create({
          message: e.message, // Use field errors for non fields ones
          color: "negative",
        });
      }
    },
    async updateGroup() {
      try {
        let data = this.group;
        await this.$apiInstance.patch(`/groups/${this.pk}/`, data);
        try {
          Notify.create({
            message: this.$t("groups.updated"),
            color: "positive",
          });
        } catch (e) {
          throw e;
        }
      } catch (e) {
        Notify.create({
          message: e.message,
          color: "negative",
        });
      }
    },
    async getGroup() {
      const url = `/groups/${this.pk}/`;
      try {
        const response = await this.$apiInstance.get(url);
        if (response.status === 200) {
          this.editing = true;
          this.group = response.data;
          this.pk = response.data.pk;
        } else if (response.status === 204) {
          // A 204 response here tells us the child doesn't exist yet
          // So the data submitted should be a post tied to the parent
          this.editing = false;
        }
      } catch (error) {
        throw error;
      }
    },
  },
  created() {
    // If this is a parent already created
    if ("pk" in this.$route.params) {
      this.pk = this.$route.params.pk;
      this.getGroup();
    }
  },
};
</script>
