<template>
  <div>
    <q-table
      bordered
      flat
      :title="$t('logs.title')"
      :data="logs"
      :columns="columns"
      row-key="pk"
      :pagination="initialPagination"
      :loading="loading"
    >
      <template v-slot:body="props">
        <q-tr>
          <q-td key="action" :props="props">
            {{ props.row.action }}
          </q-td>
          <q-td key="timestamp" :props="props">
            {{ props.row.timestamp }}
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import { date } from "quasar";
export default {
  name: "Logs",
  data() {
    return {
      initialPagination: {
        sortBy: "created",
        descending: true,
        rowsPerPage: 15,
      },
      columns: [
        {
          name: "action",
          label: this.$t("logs.entry"),
          field: "action",
          align: "left",
          sortable: true,
        },
        {
          name: "timestamp",
          label: this.$t("logs.date"),
          field: "timestamp",
          align: "left",
          sortable: true,
        },
      ],
      logs: [],
      loading: false,
    };
  },
  async mounted() {
    this.getLogs();
  },
  methods: {
    async getLogs() {
      this.loading = true;
      const response = await this.$apiInstance.get("/history/");
      this.logs = response.data.map((item) => {
        item.timestamp = date.formatDate(item.timestamp, "DD/MM/YYYY HH:mm");
        return item;
      });
      this.loading = false;
    },
  },
};
</script>
