<template>
  <div>
    <q-card flat bordered class="q-pa-md">
      <q-form @submit.prevent="onModelSubmit()" class="row">
        <div class="col q-col-gutter-y-md">
          <q-input
            outlined
            v-model="model.verbose_name"
            :label="$t('modelsEdit.name') + ' *'"
            stack-label
            :rules="[
              val => !!val || $t('misc.required'),
              val => val.length >= 2 || '2 ' + $t('misc.minimumCharacters'),
              val => val.length <= 100 || '100 ' + $t('misc.maximumCharacters')
            ]"
            :disable="this.editing"
            :readonly="this.editing"
          >
          </q-input>
          <q-select
            outlined
            v-model="model.type"
            :options="modelTypeOptions"
            emit-value
            map-options
            :label="$t('modelsEdit.type') + ' *'"
            :hint="$t('modelsEdit.typeHint')"
            :rules="[val => !!val || $t('misc.required')]"
            :disable="this.editing"
            :readonly="this.editing"
          />
          <div class="row q-gutter-lg no-wrap">
            <q-select
              class="col-11"
              outlined
              :label="$t('modelsEdit.category') + ' *'"
              :hint="$t('modelsEdit.categoryHint')"
              v-model="model.category"
              :options="categories"
              emit-value
              map-options
              :rules="[val => !!val || $t('misc.required')]"
            />
            <q-item-section avatar class="col-1 custom-chip">
              <q-btn
                round
                size="xs"
                color="primary"
                icon="fa fa-plus-circle"
                @click="categoryPrompt = true"
              />
            </q-item-section>
          </div>

          <div>
            <q-card flat bordered style="padding: 10px">
              <h2 style="font-size: 1.25rem; line-height: 1.25rem">
                {{ $t("modelsEdit.modelFieldsManagement") }}
              </h2>
              <q-card-section>
                <q-list separator>
                  <Button
                    :label="$t('modelsEdit.addField')"
                    @click="addField()"
                    icon="fas fa-plus"
                    style="margin-bottom: 20px"
                  />
                  <draggable :list="model.fields" ghost-class="ghost">
                    <q-item v-for="(field, idx) in model.fields" :key="idx">
                      <q-item-section avatar class="move custom-chip">
                        <i color-text="primary" class="fa fa-align-justify"></i>
                      </q-item-section>
                      <q-item-section>
                        <q-input
                          outlined
                          :label="$t('modelsEdit.fieldName') + ' *'"
                          v-model="field.verbose_name"
                          lazy-rules
                          :rules="[
                            val => !!val || $t('misc.required'),
                            val =>
                              val.length >= 2 ||
                              '2 ' + $t('misc.minimumCharacters'),
                            val =>
                              val.length <= 100 ||
                              '100 ' + $t('misc.maximumCharacters')
                          ]"
                        />
                      </q-item-section>
                      <q-item-section>
                        <q-select
                          outlined
                          :label="$t('modelsEdit.fieldType') + ' *'"
                          v-model="field.type"
                          :options="fieldsTypes"
                          emit-value
                          map-options
                          :options-dense="true"
                          lazy-rules
                          :rules="[val => !!val || $t('misc.required')]"
                        />
                      </q-item-section>

                      <!-- Choices fields  -->
                      <q-item-section
                        v-if="['choice', 'multiplechoice'].includes(field.type)"
                      >
                        <q-select
                          outlined
                          :label="$t('modelsEdit.fieldChoice') + ' *'"
                          v-model="field.choices"
                          use-input
                          use-chips
                          multiple
                          hide-dropdown-icon
                          lazy-rules
                          new-value-mode="add-unique"
                          :rules="[val => !!val || $t('misc.required')]"
                        />
                      </q-item-section>

                      <!-- Relationships -->
                      <q-item-section
                        v-if="['manytoone', 'onetomany'].includes(field.type)"
                      >
                        <q-select
                          outlined
                          emit-value
                          map-options
                          :label="$t('modelsEdit.fieldModel') + ' *'"
                          v-model="field.model"
                          :options="modelOptions"
                          lazy-rules
                          :rules="[val => !!val || $t('misc.required')]"
                        />
                      </q-item-section>

                      <q-item-section avatar class="custom-chip">
                        <q-checkbox
                          left-label
                          :label="$t('modelsEdit.fieldRequired')"
                          v-model="field.required"
                        />
                      </q-item-section>
                      <q-item-section avatar class="custom-chip">
                        <q-chip
                          clickable
                          @click="addExtras(field, idx)"
                          color="primary"
                          text-color="white"
                        >
                          Extras
                        </q-chip>
                      </q-item-section>

                      <q-item-section
                        v-if="
                          !['title', 'description'].includes(
                            field.internal_name
                          )
                        "
                        avatar
                        class="custom-chip"
                      >
                        <q-btn
                          round
                          size="xs"
                          color="negative"
                          icon="fa fa-times close"
                          @click="removeFieldAt(idx)"
                        />
                      </q-item-section>
                    </q-item>
                  </draggable>
                </q-list>
              </q-card-section>
            </q-card>
          </div>
          <div class="q-gutter-md">
            <q-btn
              unelevated
              round
              color="positive"
              type="submit"
              icon="fas fa-check-circle"
            />
            <q-btn
              unelevated
              round
              color="info"
              :to="{ name: 'models-list' }"
              icon="fas fa-undo"
              v-close-popup
            />
          </div>
        </div>
      </q-form>

      <!-- ExtraTable dialog -->
      <ExtraTable
        ref="extraTable"
        :field="extrasPrompt.verbose_name"
        :extras="extrasPrompt.extras"
        :index="extrasPrompt.index"
        @updateExtras="updateExtras"
      />

      <!-- Category dialog -->
      <q-dialog v-model="categoryPrompt" persistent>
        <q-card style="min-width: 350px">
          <q-card-section>
            <div class="text-h6">{{ $t("modelsEdit.promptCategoryList") }}</div>
          </q-card-section>
          <q-card-section>
            <q-chip
              unelevated
              v-for="category in categories"
              :key="category.value"
              removable
              @remove="onCategoryRemove(category.value)"
            >
              <div>
                {{ category.label }}
              </div>
            </q-chip>
          </q-card-section>
          <q-card-section class="q-pt-none">
            <q-form
              @submit="onCategorySubmit"
              @reset="onCategoryReset"
              class="q-gutter-md"
            >
              <q-input
                filled
                v-model="category.name"
                :label="$t('modelsEdit.categoryName') + ' *'"
              />
              <q-card-actions>
                <q-btn
                  unelevated
                  round
                  color="positive"
                  type="submit"
                  icon="fas fa-check-circle"
                />
                <q-btn
                  unelevated
                  round
                  color="info"
                  icon="fas fa-undo"
                  v-close-popup
                />
              </q-card-actions>
            </q-form>
          </q-card-section>
        </q-card>
      </q-dialog>
    </q-card>
  </div>
</template>

<script>
import { Notify } from "quasar";
import draggable from "vuedraggable";
import Button from "components/Button";
import ExtraTable from "components/form/ExtrasTable";
export default {
  name: "createOrUpdateModels",
  components: {
    draggable,
    Button,
    ExtraTable
  },
  data() {
    return {
      fieldsTypes: [
        { label: this.$t("modelsEdit.fieldsType.text"), value: "text" },
        { label: this.$t("modelsEdit.fieldsType.number"), value: "number" },
        { label: this.$t("modelsEdit.fieldsType.choice"), value: "choice" },
        {
          label: this.$t("modelsEdit.fieldsType.multipleChoice"),
          value: "multiplechoice"
        },
        {
          label: this.$t("modelsEdit.fieldsType.manytoone"),
          value: "manytoone"
        },
        {
          label: this.$t("modelsEdit.fieldsType.onetomany"),
          value: "onetomany"
        },
        { label: this.$t("modelsEdit.fieldsType.color"), value: "color" },
        { label: this.$t("modelsEdit.fieldsType.image"), value: "image" },
        { label: this.$t("modelsEdit.fieldsType.file"), value: "file" },
        { label: this.$t("modelsEdit.fieldsType.editor"), value: "wysiwyg" }
      ],
      model: {
        verbose_name: "",
        category: "",
        fields: [
          {
            internal_name: "title",
            verbose_name: this.$t("modelsEdit.fieldName"),
            type: "text",
            required: true,
            extras: []
          },
          {
            internal_name: "description",
            verbose_name: this.$t("modelsEdit.fieldDescription"),
            type: "text",
            required: false,
            extras: []
          }
        ],
        type: ""
      },
      modelTypeOptions: [
        {
          label: this.$t("modelsEdit.modelTypeSimple"),
          value: "simple"
        },
        { label: this.$t("modelsEdit.modelTypeMultiple"), value: "multiple" }
      ],
      modelOptions: [],
      editing: false,
      pk: "",
      extrasPrompt: { verbose_name: "", extras: [], index: null },
      categoryPrompt: false,
      category: {},
      categories: []
    };
  },
  methods: {
    addExtras(field, index) {
      this.extrasPrompt = {
        verbose_name: field.verbose_name,
        extras: field.extras,
        index: index
      };
      this.$refs.extraTable.show();
    },
    updateExtras(extras) {
      const field = this.model.fields[extras["index"]];
      field.extras = extras.extras;
    },
    onModelSubmit() {
      this.createOrUpdateModel();
    },
    async createOrUpdateModel() {
      let response = null;
      try {
        if (this.editing) {
          response = await this.$apiInstance.patch(
            `/website/models/${this.pk}/`,
            this.model
          );
        } else {
          response = await this.$apiInstance.post(
            "/website/models/",
            this.model
          );
        }
      } catch (error) {
        Notify.create({
          // TODO: Better management error. Not only 'fields' can have errors
          message: error.response.data.fields[0],
          color: "negative"
        });
      } finally {
        if (response && (response.status === 200 || response.status === 201)) {
          this.$router.push({ name: "models-list" });
        }
      }
    },
    async getModel() {
      try {
        const response = await this.$apiInstance.get(
          `/website/models/${this.pk}/`
        );
        if (response.status === 200) {
          this.model = {
            verbose_name: response.data.verbose_name,
            category: response.data.category,
            fields: Array.isArray(response.data.fields)
              ? response.data.fields
              : [],
            type: response.data.type
          };
        }
      } catch (error) {
        throw error;
      }
    },
    async getModelOptions() {
      try {
        const response = await this.$apiInstance.get(`/website/models/`);
        if (response.status === 200) {
          response.data.map(model => {
            this.modelOptions.push({
              label: model.verbose_name,
              value: model.pk
            });
          });
        }
      } catch (error) {
        throw error;
      }
    },

    async getCategories() {
      try {
        const response = await this.$apiInstance.get(
          "/website/modelcategories/"
        );
        if (response.status === 200) {
          this.categories = response.data.map(item => {
            return { label: item.name, value: item.pk };
          });
        }
      } catch (error) {
        throw error;
      }
    },
    async onCategorySubmit() {
      try {
        const response = await this.$apiInstance.post(
          "/website/modelcategories/",
          this.category
        );
        if (response.status === 201) {
          this.categories.push({
            label: response.data.name,
            value: response.data.pk
          });
          this.category = {};
        }
      } catch (error) {
        throw error;
      }
    },
    async onCategoryRemove(pk) {
      try {
        const response = await this.$apiInstance.delete(
          `/website/modelcategories/${pk}/`
        );
        if (response.status === 204) {
          this.categories = this.categories.filter(item => item.value != pk);
        }
      } catch (error) {
        throw error;
      }
    },
    onCategoryReset() {},
    addField() {
      this.model.fields.push({
        verbose_name: "",
        type: "text",
        required: true,
        extras: [{}]
      });
    },
    removeFieldAt(idx) {
      this.model.fields.splice(idx, 1);
    }
  },
  created() {
    if ("pk" in this.$route.params) {
      this.editing = true;
      this.pk = this.$route.params.pk;
      this.getModel();
    }
    this.getModelOptions();
    this.getCategories();
  }
};
</script>

<style scoped>
.ghost {
  opacity: 0.5;
  background: #b3b2b2;
}
.move {
  cursor: move;
}
.close {
  cursor: pointer;
}
.custom-chip {
  padding-bottom: 20px;
}
</style>
