<template>
  <div>
    <q-table
      bordered
      flat
      :title="$t('models.title')"
      :data="models"
      :columns="columns"
      row-key="pk"
      :pagination="initialPagination"
      :loading="loading"
    >
      <template v-slot:top>
        <q-space />
        <Button
          :label="$t('models.create')"
          :to="{ name: 'models-create' }"
          icon="fas fa-plus"
        />
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="name" :props="props">
            {{ props.row.verbose_name }}
          </q-td>
          <q-td key="category" :props="props">
            <q-chip
              v-if="props.row.category_name"
              size="md"
              text-color="white"
              color="info"
            >
              {{ props.row.category_name }}
            </q-chip>
          </q-td>
          <q-td key="type" :props="props">
            <q-chip
              v-if="props.row.type == 'simple'"
              size="md"
              icon-right="fas fa-box"
              color="info"
              text-color="white"
              >{{ props.row.type }}</q-chip
            >
            <q-chip
              v-else
              size="md"
              icon-right="fas fa-boxes"
              color="info"
              text-color="white"
              >{{ props.row.type }}
            </q-chip>
          </q-td>
          <q-td key="actions" :props="props">
            <q-btn round color="primary" size="sm" icon="fas fa-ellipsis-v">
              <q-menu anchor="bottom left" self="top left">
                <q-item
                  clickable
                  :to="{
                    name: 'models-edit',
                    params: { pk: props.row.pk },
                  }"
                >
                  <q-item-section>{{ $t("models.edit") }}</q-item-section>
                </q-item>
                <q-item clickable @click="onPromptDelete(props.row)">
                  <q-item-section>{{ $t("models.delete") }}</q-item-section>
                </q-item>
              </q-menu>
            </q-btn>
          </q-td>
        </q-tr>
      </template>
    </q-table>

    <!-- Deletion dialog -->
    <q-dialog v-model="promptDelete">
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">{{ $t("models.promptDeleteModelTitle") }}</div>
        </q-card-section>
        <q-card-section>
          <p>
            {{ $t("models.promptDeleteModelContentMultiple") }}
          </p>

          <p>{{ $t("models.promptDeleteModelContentSimple") }}</p>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <q-card-actions>
            <q-btn
              unelevated
              round
              color="positive"
              icon="fas fa-check-circle"
              @click="deleteModel(modelToDelete.pk)"
            />
            <q-btn
              unelevated
              round
              color="info"
              icon="fas fa-undo"
              v-close-popup
            />
          </q-card-actions>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { Notify } from "quasar";
import Button from "components/Button";
export default {
  name: "Models",
  components: {
    Button,
  },
  data() {
    return {
      initialPagination: {
        sortBy: "name",
        descending: true,
        rowsPerPage: 15,
      },
      columns: [
        {
          name: "name",
          label: this.$t("models.columnTitle"),
          field: "name",
          align: "left",
          sortable: true,
        },
        {
          name: "category",
          label: this.$t("models.columnCategory"),
          field: "category",
          align: "left",
          sortable: true,
        },
        {
          name: "type",
          label: this.$t("models.columnType"),
          field: "type",
          align: "left",
          sortable: true,
        },
        {
          name: "actions",
          label: "",
        },
      ],
      models: [],
      modelToDelete: "",
      promptDelete: false,
      loading: false,
    };
  },
  created() {
    this.getModels();
  },
  methods: {
    async getModels() {
      this.loading = true;
      const response = await this.$apiInstance.get("/website/models/");
      this.models = response.data;
      await this.$store.dispatch("dynamicmenu/updateDynamicMenu", this.models);
      this.loading = false;
    },
    onPromptDelete(model) {
      this.modelToDelete = model;
      this.promptDelete = true;
    },
    async deleteModel(pk) {
      let response = null;
      try {
        response = await this.$apiInstance.delete(`/website/models/${pk}/`);
        Notify.create({
          message: this.$t("models.confirmedDeletion"),
          color: "positive",
        });
      } catch (e) {
        if (e.response.status === 400) {
          Notify.create({
            message: e.response.data.non_field_errors,
            color: "negative",
          });
        }
      } finally {
        this.modelToDelete = "";
        this.promptDelete = false;
        this.getModels();
      }
    },
  },
};
</script>
