<template>
  <div>
    <q-form
      ref="modelItemForm"
      @submit.prevent.stop="onModelItemSubmit"
      @reset.prevent.stop="onReset"
    >
      <q-card flat bordered class="q-pa-md q-mb-lg">
        <h2 style="font-size: 1.25rem">{{ $t("modelItemsEdit.title") }}</h2>
        <div class="col q-col-gutter-y-md">
          <div v-for="(input, index) in inputList" :key="index">
            <!-- add choices when select Inputs -->
            <component
              v-if="['ChoiceInput', 'MultiplechoiceInput'].includes(input.name)"
              v-bind:is="input.name"
              :label="input.label"
              v-model="modelItem.data[input.value]"
              :choices="input.choices"
              :required="input.required"
            />
            <component
              v-else-if="input.name == 'NumberInput'"
              v-bind:is="input.name"
              :label="input.label"
              v-model.number="modelItem.data[input.value]"
              :choices="input.choices"
              :required="input.required"
            />
            <component
              v-else-if="
                ['ManytooneInput', 'OnetomanyInput'].includes(input.name)
              "
              v-bind:is="input.name"
              :label="input.label"
              v-model="modelItem.data[input.value]"
              :modelPk="input.model"
              :required="input.required"
              :langCode="langCode"
            />
            <component
              v-else
              v-bind:is="input.name"
              :label="input.label"
              v-model="modelItem.data[input.value]"
              :required="input.required"
            />
          </div>
        </div>
      </q-card>
      <q-card flat bordered class="q-pa-md q-mb-lg">
        <h2 style="font-size: 1.25rem">{{ $t("modelItemsEdit.settings") }}</h2>
        <div class="col q-col-gutter-y-md">
          <q-select
            class="q-mb-lg"
            outlined
            multiple
            use-chips
            emit-value
            map-options
            label="Groups"
            v-model="modelItem.groups"
            :options="groups"
            lazy-rules
            :hint="$t('modelItemsEdit.groupsHint')"
          />
          <q-select
            class="q-mb-lg"
            outlined
            emit-value
            map-options
            label="Status"
            v-model="modelItem.status"
            :options="status"
            lazy-rules
            :hint="$t('modelItemsEdit.statusHint')"
          />
        </div>
      </q-card>
      <q-btn
        unelevated
        round
        color="positive"
        type="submit"
        icon="fas fa-check-circle"
      />
      <q-btn
        v-if="model"
        unelevated
        round
        color="info"
        :to="{
          name: 'modelitems-list',
          params: { model_name: model.name }
        }"
        icon="fas fa-undo"
        v-close-popup
      />
    </q-form>
  </div>
</template>

<script>
import { Notify } from "quasar";
import { getSecondaryLanguagePkFromCode } from "src/utils/helpers";
export default {
  name: "createOrUpdateModelItems",
  components: {
    ChoiceInput: () => import("components/form/inputs/ChoiceInput"),
    ColorInput: () => import("components/form/inputs/ColorInput"),
    FileInput: () => import("components/form/inputs/FileInput"),
    ManytooneInput: () => import("components/form/inputs/ManytooneInput"),
    OnetomanyInput: () => import("components/form/inputs/OnetomanyInput"),
    ImageInput: () => import("components/form/inputs/ImageInput"),
    MultiplechoiceInput: () =>
      import("components/form/inputs/MultipleChoiceInput"),
    NumberInput: () => import("components/form/inputs/NumberInput"),
    TextInput: () => import("components/form/inputs/TextInput"),
    WysiwygInput: () => import("components/form/inputs/WysiwygInput")
  },
  data() {
    return {
      isChild: false,
      editing: false,
      pk: null,
      parentPk: null,
      model: null,
      modelName: null,
      langCode: null,
      modelItem: {
        lang: null,
        parent: null,
        data: {}
      },
      inputList: [],
      groups: [],
      status: [
        { label: this.$t("modelItemsEdit.statuses.active"), value: "active" },
        {
          label: this.$t("modelItemsEdit.statuses.archived"),
          value: "archived"
        },
        { label: this.$t("modelItemsEdit.statuses.draft"), value: "draft" },
        {
          label: this.$t("modelItemsEdit.statuses.inactive"),
          value: "inactive"
        },
        { label: this.$t("modelItemsEdit.statuses.pending"), value: "pending" }
      ]
    };
  },
  async created() {
    this.modelName = this.$route.params.model_name;
    await this.getModel();
    await this.getGroups();
    // If this is a parent already created
    if ("pk" in this.$route.params) {
      this.pk = this.$route.params.pk;
      await this.getModelItem();
      this.langCode = this.$store.state.settings.languages.primary_language.code;
    } else if (
      "parentPk" in this.$route.params &&
      "langCode" in this.$route.params
    ) {
      this.isChild = true;
      // At this point we don't know if the child exists
      this.parentPk = this.$route.params.parentPk;
      this.langCode = this.$route.params.langCode;
      await this.getModelItem();
    } else {
      this.langCode = this.$store.state.settings.languages.primary_language.code;
    }
  },
  methods: {
    async getModel() {
      try {
        const response = await this.$apiInstance.get(
          `/website/models/get_by_name/${this.modelName}/`
        );
        if (response.status === 200) {
          this.model = response.data;
          // List input components to display with binding :is by transforming field type
          // Ex: text -> TextInput
          this.inputList = response.data.fields.map(field => {
            const name = `${field.type[0].toUpperCase()}${field.type.slice(
              1
            )}Input`;
            const label = `${field.verbose_name} ${
              field.required == true ? " *" : ""
            }`;
            const value = field.internal_name;
            const required = field.required;
            if (["choice", "multiplechoice"].includes(field.type)) {
              const choices = field.choices;
              return { name, label, required, value, choices };
            } else if (["manytoone", "onetomany"].includes(field.type)) {
              const model = field.model;
              return { name, label, required, value, model };
            }
            return { name, label, required, value };
          });
        }
      } catch (error) {
        throw error;
      }
    },
    async getGroups() {
      const url = "/groups/";
      try {
        const response = await this.$apiInstance.get(url);
        if (response.status === 200) {
          response.data.map(group => {
            this.groups.push({
              label: group.name,
              value: group.pk
            });
          });
        }
      } catch (error) {
        throw error;
      }
    },
    async getModelItem() {
      try {
        let response = null;
        if (this.isChild) {
          response = await this.$apiInstance.get(
            `/website/modelitems/${this.modelName}/${this.parentPk}/get_child/${this.langCode}/`
          );
        } else {
          response = await this.$apiInstance.get(
            `/website/modelitems/${this.modelName}/${this.pk}/`
          );
        }
        if (response.status === 200) {
          this.editing = true;
          this.modelItem = response.data;
          this.pk = response.data.pk;
          // As there are more fields for internal purpose (like slug or link)
          // also stale fields can still be stored in the database before being removed in
          // the model builder

          // List all the field that should be edited in the form
          let modelFields = this.model.fields.map(field => {
            return field.internal_name;
          });

          // Add title and description to mandatory fields
          modelFields.push("title", "description");

          // Filter the modelitem object from database from unuseful fields
          for (const item in this.modelItem.data) {
            if (!modelFields.includes(item)) {
              delete this.modelItem.data[item];
            }
          }
        } else if (response.status === 204) {
          // A 204 response here tells us the child doesn't exist yet
          // So the data submitted should be a post tied to the parent
          this.editing = false;
        }
      } catch (error) {
        throw error;
      }
    },
    onModelItemSubmit() {
      // As WysiwygInput are using q-editor, it cannot be validated as a field
      let validatedWysiwyg = true;
      this.$refs.modelItemForm.$children.forEach(child => {
        if (
          child.$options._componentTag == "WysiwygInput" &&
          (child.value == "" || child.value == "<br>")
        ) {
          validatedWysiwyg = false;
        }
      });
      if (validatedWysiwyg == false) {
        return;
      }
      this.$refs.modelItemForm.validate().then(success => {
        if (success) {
          this.createOrUpdateModelItem();
        }
      });
    },
    onReset() {},
    async createOrUpdateModelItem() {
      let response = null;
      try {
        if (this.editing) {
          // parent & lang should not be specified when editing
          delete this.modelItem.lang;
          delete this.modelItem.parent;

          response = await this.$apiInstance.patch(
            `/website/modelitems/${this.modelName}/${this.pk}/`,
            this.modelItem
          );
        } else {
          if (this.isChild) {
            // If child creation
            // Add langCode from url and parent
            this.modelItem.parent = this.parentPk;
            this.modelItem.lang = getSecondaryLanguagePkFromCode(this.langCode);
          } else {
            // Else this a parent creation and should get no obviously no parent
            // and the primary language code
            this.modelItem.parent = null;
            this.modelItem.lang = this.$store.state.settings.languages.primary_language.pk;
          }
          response = await this.$apiInstance.post(
            `/website/modelitems/${this.modelName}/`,
            this.modelItem
          );
        }
      } catch (error) {
        Notify.create({
          message: this.$t("modelItemsEdit.error"),
          color: "negative"
        });
      } finally {
        if (response.status === 200) {
          Notify.create({
            message: this.$t("modelItemsEdit.updated"),
            color: "positive"
          });
        }
        if (response.status === 201) {
          Notify.create({
            message: this.$t("modelItemsEdit.created"),
            color: "positive"
          });
          if (!this.isChild) {
            let params = { model_name: this.model.name, pk: response.data.pk };
            this.$router.push({
              name: "modelitems-edit",
              params: params
            });
          }
        }
      }
    }
  }
};
</script>

<style scoped>
.misc-button {
  width: 100%;
  max-width: 50%;
}
</style>
