<template>
  <div>
    <q-table
      bordered
      flat
      title="modelitems"
      :data="modelitems"
      :columns="columns"
      row-key="pk"
      :pagination="initialPagination"
      :loading="loading"
    >
      <template v-slot:top>
        <q-space />
        <q-btn
          unelevated
          rounded
          color="primary"
          :label="$t('modelitems.create')"
          size="sm"
          icon="fas fa-plus"
          :to="{ name: 'modelitems-create', params: { model_name: modelName } }"
        />
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="title" :props="props">
            {{ props.row.data.title }}
          </q-td>
          <q-td key="status" :props="props">
            <q-chip v-if="props.row.status == 'draft'" dense>{{
              props.row.translated_status
            }}</q-chip>
            <q-chip v-else-if="props.row.status == 'archived'" dense>{{
              props.row.translated_status
            }}</q-chip>
            <q-chip
              v-else-if="props.row.status == 'active'"
              text-color="white"
              color="positive"
              dense
              >{{ props.row.translated_status }}</q-chip
            >
            <q-chip
              v-else-if="props.row.status == 'inactive'"
              text-color="white"
              color="negative"
              dense
              >{{ props.row.translated_status }}</q-chip
            >
            <q-chip
              v-else-if="props.row.status == 'pending'"
              text-color="white"
              color="info"
              dense
              >{{ props.row.translated_status }}</q-chip
            >
          </q-td>
          <q-td key="created" :props="props">
            {{ props.row.created }}
          </q-td>

          <q-td key="modified" :props="props">
            {{ props.row.modified }}
          </q-td>

          <q-td key="actions" :props="props">
            <q-btn round color="primary" size="sm" icon="fas fa-ellipsis-v">
              <q-menu anchor="bottom left" self="top left">
                <q-item
                  :to="{
                    name: 'modelitems-edit',
                    params: { model_name: modelName, pk: props.row.pk },
                  }"
                  clickable
                >
                  <q-item-section>{{ $t("modelitems.edit") }}</q-item-section>
                </q-item>
                <q-item clickable @click="onPromptDelete(props.row)">
                  <q-item-section>{{ $t("modelitems.delete") }}</q-item-section>
                </q-item>
              </q-menu>
            </q-btn>
          </q-td>
        </q-tr>
      </template>
    </q-table>

    <!-- Deletion dialog -->
    <q-dialog v-model="promptDelete">
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">{{ $t("modelitems.promptDeleteTitle") }}</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <q-card-actions>
            <q-btn
              unelevated
              round
              color="positive"
              icon="fas fa-check-circle"
              @click="deleteItem(modelItemToDelete.pk)"
            />
            <q-btn
              unelevated
              round
              color="info"
              icon="fas fa-undo"
              v-close-popup
            />
          </q-card-actions>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { date, Notify } from "quasar";
export default {
  name: "ModelItems",
  data() {
    return {
      initialPagination: {
        sortBy: "created",
        descending: true,
        rowsPerPage: 15,
      },
      columns: [
        {
          name: "title",
          label: this.$t("modelitems.columnTitle"),
          field: "title",
          align: "left",
          sortable: true,
        },
        {
          name: "status",
          label: this.$t("modelitems.columnStatus"),
          field: "status",
          align: "left",
          sortable: true,
        },
        {
          name: "created",
          label: this.$t("modelitems.columnCreated"),
          field: "created",
          align: "left",
          sortable: true,
        },
        {
          name: "modified",
          label: this.$t("modelitems.columnModified"),
          field: "modified",
          align: "left",
          sortable: true,
        },
        {
          name: "actions",
          label: "",
        },
      ],
      modelName: null,
      modelitems: [],
      modelItemToDelete: "",
      promptDelete: false,
      loading: false,
    };
  },
  async created() {
    this.modelName = this.$route.params.model_name;
    this.getItems();
  },
  methods: {
    async getItems() {
      this.loading = true;
      const response = await this.$apiInstance.get(
        `/website/modelitems/${this.modelName}/get_parents/`
      );
      this.modelitems = response.data.map((item) => {
        item.created = date.formatDate(item.created, "DD/MM/YYYY");
        item.modified = date.formatDate(item.modified, "DD/MM/YYYY");
        return item;
      });
      this.loading = false;
    },
    onPromptDelete(item) {
      this.modelItemToDelete = item;
      this.promptDelete = true;
    },
    async deleteItem(pk) {
      try {
        await this.$apiInstance.delete(
          `/website/modelitems/${this.modelName}/${pk}/`
        );
      } finally {
        this.modelItemToDelete = "";
        this.promptDelete = false;
        Notify.create({
          message: this.$t("modelitems.deleted"),
          color: "positive",
        });
        this.getItems();
      }
    },
  },
};
</script>
