<template>
  <div>
    <q-card flat bordered class="q-pa-md">
      <q-form @submit.prevent.stop="onPageSubmit" class="row">
        <div class="col q-col-gutter-y-md">
          <q-input
            outlined
            v-model="page.title"
            :label="$t('pagesEdit.title') + '*'"
            stack-label
            :rules="[
              (val) => !!val || $t('misc.required'),
              (val) => val.length >= 3 || '3 ' + $t('misc.minimumCharacters'),
              (val) => val.length <= 60 || '60 ' + $t('misc.maximumCharacters'),
            ]"
          >
          </q-input>

          <q-select
            v-if="!this.isChild"
            outlined
            use-input
            hide-selected
            fill-input
            input-debounce="0"
            v-model="page.model"
            :options="modelsOptions"
            :label="$t('pagesEdit.model') + '*'"
            @filter="filterFn"
            emit-value
            map-options
            lazy-rules
            :hint="$t('pagesEdit.modelHint')"
          />

          <q-input
            v-if="!page.model"
            outlined
            v-model="page.description"
            :label="$t('pagesEdit.description') + '*'"
            type="text"
            stack-label
            :rules="[
              (val) => !!val || $t('misc.required'),
              (val) => val.length >= 60 || '60 ' + $t('misc.minimumCharacters'),
              (val) =>
                val.length <= 150 || '150 ' + $t('misc.maximumCharacters'),
            ]"
          >
          </q-input>

          <q-select
            outlined
            v-model="page.template"
            :options="templatesOptions"
            :label="$t('pagesEdit.template') + '*'"
            :rules="[(val) => !!val || $t('misc.required')]"
          />

          <q-toggle
            v-if="
              (!page.model && !this.isChild) ||
              (page.model == null && !this.isChild)
            "
            :label="$t('pagesEdit.homepage') + '*'"
            v-model="page.is_index"
            :hint="$t('pagesEdit.homepageHint')"
          />

          <div class="q-gutter-md">
            <q-btn
              unelevated
              round
              color="positive"
              type="submit"
              icon="fas fa-check-circle"
            />
            <q-btn
              unelevated
              round
              color="info"
              :to="{ name: 'pages-list' }"
              icon="fas fa-undo"
              v-close-popup
            />
          </div>
        </div>
      </q-form>
    </q-card>
  </div>
</template>

<script>
import { Notify } from "quasar";
import { getSecondaryLanguagePkFromCode } from "src/utils/helpers";
export default {
  name: "createOrUpdatePages",
  props: ["languages"],
  data() {
    return {
      pk: null,
      parentPk: null,
      isChild: false,
      langCode: "",
      page: {
        title: "",
        description: "",
        template: "",
        model: null,
        model_name: null,
        is_index: false,
        parent: null,
        lang: "",
      },
      editing: false,
      templatesOptions: [],
      models: [],
      modelsOptions: [],
    };
  },
  watch: {
    models: function () {
      this.modelsOptions = this.models;
    },
  },
  methods: {
    onPageSubmit() {
      if (this.editing) {
        this.updatePage();
      } else {
        this.createPage();
      }
    },
    async createPage() {
      let response = null;
      if (this.isChild) {
        // If child creation
        // Add langCode from url and parent
        this.page.lang = getSecondaryLanguagePkFromCode(this.langCode);
        this.page.parent = this.parentPk;

        // Delete useless payload data
        delete this.page.model;
        delete this.page.is_index;
      } else {
        // Else this a parent creation and should get no obviously no parent
        // and the primary language code
        this.page.lang =
          this.$store.state.settings.languages.primary_language.pk;
      }
      try {
        response = await this.$apiInstance.post("/website/pages/", this.page);
      } catch (error) {
        throw error;
      } finally {
        if (response.status === 201) {
          if (this.isChild) {
            Notify.create({
              message: this.$t("pagesEdit.pageUpdated"),
              color: "positive",
            });
          } else {
            Notify.create({
              message: this.$t("pagesEdit.pageCreated"),
              color: "positive",
            });
            this.$router.push({
              name: "pages-edit",
              params: { pk: response.data.pk },
            });
          }
        }
      }
    },
    async updatePage() {
      let response = null;
      try {
        if (this.isChild) {
          // A child should never update some fields
          delete this.page.model;
          delete this.page.is_index;
          delete this.page.lang;
        }
        // Lang should not be patched
        delete this.page.lang;

        response = await this.$apiInstance.patch(
          `/website/pages/${this.pk}/`,
          this.page
        );
      } catch (error) {
        throw error;
      } finally {
        if (response.status === 200 || response.status === 201) {
          Notify.create({
            message: this.$t("pagesEdit.pageUpdated"),
            color: "positive",
          });
        }
      }
    },
    async getPage() {
      let response = null;
      let url = null;
      if (this.pk) {
        url = `/website/pages/${this.pk}/`;
      } else if (this.parentPk) {
        url = `/website/pages/${this.parentPk}/get_child/${this.langCode}/`;
      }
      try {
        const response = await this.$apiInstance.get(url);
        if (response.status === 200) {
          this.editing = true;
          this.page = response.data;
          this.pk = response.data.pk;
          this.models.push({
            label: this.page.model_name,
            value: this.page.model,
          });
        } else if (response.status === 204) {
          // A 204 response here tells us the child doesn't exist yet
          // So the data submitted should be a post tied to the parent
          this.editing = false;
        }
      } catch (error) {
        throw error;
      }
    },
    async getTemplates() {
      const response = await this.$apiInstance.get("/website/theme/");
      if (response.status === 200) {
        this.templatesOptions = response.data[0].templates;
      }
    },
    async getAvailableModels() {
      const response = await this.$apiInstance.get(
        "/website/models/available_models_for_pages/"
      );
      let responseWithFormattedDates = null;
      if (response.status === 200) {
        responseWithFormattedDates = response.data.map((item) => {
          return {
            label: item.verbose_name,
            value: item.pk,
          };
        });
        this.models = responseWithFormattedDates;
      }
    },
    filterFn(val, update, abort) {
      update(() => {
        const needle = val.toLowerCase();
        this.modelsOptions = this.models.filter(
          (v) => v.label.toLowerCase().indexOf(needle) > -1
        );
      });
    },
  },
  created() {
    // If this is a parent already created
    if ("pk" in this.$route.params) {
      this.pk = this.$route.params.pk;
    } else if (
      "parentPk" in this.$route.params &&
      "langCode" in this.$route.params
    ) {
      this.isChild = true;
      // At this point we don't know if the child exists
      this.parentPk = this.$route.params.parentPk;
      this.langCode = this.$route.params.langCode;
    }
    if (this.pk || this.parentPk) {
      this.getPage();
    }
    this.getTemplates();
    this.getAvailableModels();
  },
};
</script>
