<template>
  <div class="row q-col-gutter-x-md q-layout-padding">
    <div class="col-8">
      <q-card flat bordered>
        <q-card-section>
          <div class="text-h6">
            {{ $t("theme.lastUpdate") }} {{ theme.modified }}
          </div>
        </q-card-section>
        <q-separator inset />
        <q-card-section>
          <div class="text-h6">{{ $t("theme.templateList") }}:</div>
          <q-chip
            v-for="(tpl, index) in theme.templates"
            :key="index"
            size="md"
            color="info"
            text-color="white"
            icon="fas fa-shapes"
          >
            {{ tpl }}
          </q-chip>
        </q-card-section>
      </q-card>
    </div>
    <div class="col-3">
      <q-form @submit="onThemeSubmit" @reset="onThemeReset" class="q-gutter-md">
        <q-file
          outlined
          bottom-slots
          accept=".zip"
          max-file-size="10240000"
          v-model="file"
          :label="$t('theme.importTheme')"
          @rejected="onRejected"
          :error="error"
        >
          <template v-slot:before>
            <q-icon name="fas fa-upload" />
          </template>

          <template v-slot:append>
            <q-icon
              v-if="theme !== null"
              name="fas fa-close"
              @click.stop="theme = null"
              class="cursor-pointer"
            />
            <q-icon name="fas fa-search" @click.stop />
          </template>

          <template v-slot:hint>
            {{ $t("theme.fileSizeHint") }}
          </template>
          <template v-slot:error>
            <p v-if="errors">{{ errors }}</p>
            <p v-else>{{ $t("theme.fileSizeError") }}</p>
          </template>
        </q-file>
        <q-btn
          style="margin-left: 50px"
          :label="$t('theme.send')"
          type="submit"
          color="primary"
        />
      </q-form>
    </div>
  </div>
</template>

<script>
import { date, Notify } from "quasar";
export default {
  name: "Theme",
  data() {
    return {
      theme: {},
      file: null,
      error: false,
      errors: "",
    };
  },
  mounted() {
    this.getTheme();
  },
  methods: {
    async getTheme() {
      const response = await this.$apiInstance.get("/website/theme/");
      // There is only 1 theme
      if (response.data.length === 1) {
        this.theme = response.data[0];
        this.theme.modified = date.formatDate(
          this.theme.modified,
          "DD MM YYYY à HH:mm"
        );
      }
    },
    async onThemeSubmit() {
      let formData = new FormData();
      formData.append("file", this.file);
      let response = null;
      try {
        response = await this.$apiInstance.post("/website/theme/", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
        if (response.status === 201) {
          Notify.create({
            message: this.$t("theme.confirmationImported"),
            color: "positive",
          });
          this.getTheme();
          this.file = null;
        }
      } catch (error) {
        this.errors = error.response.data.file[0];
        this.onRejected();
      }
    },
    onThemeReset() {
      this.theme = null;
    },
    onRejected() {
      this.error = true;
      setTimeout(() => {
        this.error = false;
      }, 4000);
    },
  },
};
</script>
