<template>
  <div>
    <q-card flat bordered class="q-pa-md">
      <q-form @submit.prevent.stop="onUserSubmit" class="row">
        <div class="col q-col-gutter-y-md">
          <q-input
            outlined
            v-model="user.first_name"
            :label="$t('usersEdit.firstName') + ' *'"
            stack-label
            :rules="[
              (val) => !!val || $t('misc.required'),
              (val) => val.length >= 2 || '2 ' + $t('misc.minimumCharacters'),
              (val) => val.length <= 60 || '60 ' + $t('misc.maximumCharacters'),
            ]"
          >
          </q-input>

          <q-input
            outlined
            v-model="user.last_name"
            :label="$t('usersEdit.lastName') + ' *'"
            stack-label
            :rules="[
              (val) => !!val || $t('misc.required'),
              (val) => val.length >= 2 || '2 ' + $t('misc.minimumCharacters'),
              (val) =>
                val.length <= 150 || '150 ' + $t('misc.maximumCharacters'),
            ]"
          >
          </q-input>

          <q-input
            outlined
            v-model="user.email"
            :label="$t('usersEdit.email') + ' *'"
            stack-label
            :rules="[(val) => !!val || $t('misc.required')]"
          >
          </q-input>

          <q-select
            outlined
            multiple
            use-chips
            emit-value
            map-options
            :label="$t('usersEdit.groups')"
            v-model="user.groups"
            :options="groupOptions"
            lazy-rules
          />

          <div class="q-gutter-md">
            <q-btn
              unelevated
              round
              color="positive"
              type="submit"
              icon="fas fa-check-circle"
            />
            <q-btn
              unelevated
              round
              color="info"
              :to="{ name: 'users-list' }"
              icon="fas fa-undo"
              v-close-popup
            />
          </div>
        </div>
      </q-form>
    </q-card>
  </div>
</template>

<script>
import { Notify } from "quasar";
export default {
  name: "createOrUpdateUsers",
  data() {
    return {
      pk: null,
      user: {
        first_name: "",
        last_name: "",
        email: "",
      },
      editing: false,
      groupOptions: [],
    };
  },
  methods: {
    onUserSubmit() {
      if (this.editing) {
        this.updateUser();
      } else {
        this.createUser();
      }
    },
    async createUser() {
      try {
        await this.$apiInstance.post("/auth/users/", this.user);
        try {
          Notify.create({
            message: this.$t("pagesEdit.userCreated"),
            color: "positive",
          });
          this.$router.push({
            name: "users-list",
          });
        } catch (e) {
          throw e;
        }
      } catch (e) {
        Notify.create({
          message: e.message, // Use field errors for non fields ones
          color: "negative",
        });
      }
    },
    async updateUser() {
      try {
        // Don't update the email
        let data = this.user;
        delete data.email;
        await this.$apiInstance.patch(`/auth/users/${this.pk}/`, data);
        try {
          Notify.create({
            message: this.$t("pagesEdit.userUpdated"),
            color: "positive",
          });
        } catch (e) {
          throw e;
        }
      } catch (e) {
        Notify.create({
          message: e.message,
          color: "negative",
        });
      }
    },
    async getGroups() {
      try {
        const response = await this.$apiInstance.get("/groups/");
        if (response.status === 200) {
          response.data.map((group) => {
            this.groupOptions.push({
              label: group.name,
              value: group.pk,
            });
          });
        }
      } catch (error) {
        throw error;
      }
    },
    async getUser() {
      const url = `/auth/users/${this.pk}/`;
      try {
        const response = await this.$apiInstance.get(url);
        if (response.status === 200) {
          this.editing = true;
          this.user = response.data;
          this.pk = response.data.pk;
        } else if (response.status === 204) {
          // A 204 response here tells us the child doesn't exist yet
          // So the data submitted should be a post tied to the parent
          this.editing = false;
        }
      } catch (error) {
        throw error;
      }
    },
  },
  created() {
    // If this is a parent already created
    if ("pk" in this.$route.params) {
      this.pk = this.$route.params.pk;
      this.getUser();
    }
    this.getGroups();
  },
};
</script>
