<template>
  <div>
    <q-btn
      v-on:click="onSubmit"
      unelevated
      :loading="isGenerating"
      class="full-width"
      color="positive"
      icon-right="fas fa-paper-plane"
      :label="$t('buttonGenerator.publish')"
    />
  </div>
</template>

<script>
import { Notify } from "quasar";

export default {
  name: "ButtonGenerator",
  data: function () {
    return {
      isGenerating: false,
    };
  },
  methods: {
    onSubmit() {
      this.generateWebsite();
    },
    async generateWebsite() {
      let response = null;
      this.isGenerating = true;
      try {
        response = await this.$apiInstance.get("/website/generate/");
      } catch (error) {
        // Errors 5xx are already managed in api base
        if (error.response.status < 500) {
          Notify.create({
            message: error.response.data.non_field_errors,
            color: "negative",
          });
        }
      } finally {
        this.isGenerating = false;
        if (response && response.status === 200) {
          Notify.create({
            message: this.$t("buttonGenerator.published"),
            color: "positive",
          });
        }
      }
    },
  },
};
</script>

<style scoped>
.q-btn {
  margin-left: 0px;
  margin-bottom: 30px;
  margin-top: 10px;
}
</style>
