<template>
  <q-btn
    unelevated
    rounded
    :color="color"
    :label="label"
    size="sm"
    :icon="icon"
    :to="to"
    v-on:click="$emit('click', $event)"
  />
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: "primary",
    },
    icon: {
      type: String,
    },
    label: {
      type: String,
      required: true,
    },
    to: Object,
  },
};
</script>
