<template>
  <div>
    <q-list>
      <q-item v-if="Object.keys(menus).length == 0" dense
        >{{ menus.length }}{{ $t("navigation.noModel") }}</q-item
      >

      <div v-for="(categoryValue, categoryName) in menus" :key="categoryName">
        <q-expansion-item
          dense
          :label="
            categoryName != 'null' && categoryName != ''
              ? categoryName
              : $t('misc.others')
          "
          :default-opened="true"
          expand-icon-class="text-primary"
        >
          <q-list>
            <q-item
              dense
              v-for="(value, name) in categoryValue"
              :key="name"
              v-on:click="pushToLocation(value)"
              clickable
            >
              <q-item-section avatar>
                <q-icon color="primary" size="sm" name="fas fa-caret-right" />
              </q-item-section>
              <q-item-section>{{ value.verbose_name }}</q-item-section>
            </q-item>
          </q-list>
        </q-expansion-item>
      </div>
    </q-list>
  </div>
</template>

<script>
export default {
  computed: {
    menus() {
      return this.$store.state.dynamicmenu.menu;
    }
  },
  async created() {
    await this.$store.dispatch("dynamicmenu/updateDynamicMenu");
  },
  methods: {
    async pushToLocation(value) {
      if (value.type == "multiple") {
        this.$router.push({
          name: "modelitems-list",
          params: { model_name: value.name }
        });
      } else if (value.type == "simple") {
        let modelitem = null;
        try {
          const response = await this.$apiInstance.get(
            `/website/modelitems/${value.name}/get_parents/`
          );
          modelitem = response.data;
          if (modelitem.length == 1) {
            this.$router.push({
              name: "modelitems-edit",
              params: { model_name: value.name, pk: modelitem[0].pk }
            });
          } else if (modelitem.length == 0) {
            this.$router.push({
              name: "modelitems-create",
              params: { model_name: value.name }
            });
          }
        } catch (error) {
          throw error;
        }
      }
    }
  }
};
</script>

<style scoped>
.q-item__section--avatar {
  min-width: 0;
}
</style>
