<template>
    <img v-if="settings.logo" style="object-fit: scale-down; width: 100%; height: 100%" alt="Candelapp logo" :src="settings.logo" />
    <img v-else style="object-fit: scale-down; width: 100%; height: 100%" alt="Candelapp logo" src="~/assets/logo.png" />
</template>

<script>
import { mapGetters } from "vuex"
export default {
  name: "Logo",
  computed: {
    ...mapGetters({"settings": "settings/getSettings"})
  }
};
</script>

