<template>
  <div class="q-pa-md">
    <Welcome />
    <div v-if="settings.ftp_host && settings.ftp_user && settings.ftp_port">
      <ButtonGenerator />
    </div>
    <q-list class="rounded-borders menu" dense>
      <q-toolbar class="bg-primary text-white">
        <q-toolbar-title>{{ $t("navigation.data") }}</q-toolbar-title>
      </q-toolbar>
      <DynamicMenu />

      <q-toolbar class="bg-primary text-white">
        <q-toolbar-title>{{ $t("navigation.administration") }}</q-toolbar-title>
      </q-toolbar>

      <q-item :to="{ name: 'models-list' }" clickable>
        <q-item-section avatar>
          <q-icon color="primary" size="xs" name="fas fa-database" />
        </q-item-section>
        <q-item-section>{{ $t("navigation.models") }}</q-item-section>
      </q-item>

      <q-item :to="{ name: 'users-list' }" clickable>
        <q-item-section avatar>
          <q-icon color="primary" size="xs" name="fas fa-user" />
        </q-item-section>
        <q-item-section>{{ $t("navigation.users") }}</q-item-section>
      </q-item>

      <q-item :to="{ name: 'groups-list' }" clickable>
        <q-item-section avatar>
          <q-icon color="primary" size="xs" name="fas fa-user-friends" />
        </q-item-section>
        <q-item-section>{{ $t("navigation.groups") }}</q-item-section>
      </q-item>

      <q-item :to="{ name: 'permissions-list' }" clickable>
        <q-item-section avatar>
          <q-icon color="primary" size="xs" name="fas fa-shield-alt" />
        </q-item-section>
        <q-item-section>{{ $t("navigation.permissions") }}</q-item-section>
      </q-item>

      <q-item :to="{ name: 'logs-list' }" clickable>
        <q-item-section avatar>
          <q-icon color="primary" size="xs" name="fas fa-binoculars" />
        </q-item-section>
        <q-item-section>{{ $t("navigation.logs") }}</q-item-section>
      </q-item>

      <q-item :to="{ name: 'settings-edit' }" clickable>
        <q-item-section avatar>
          <q-icon color="primary" size="xs" name="fas fa-cogs" />
        </q-item-section>
        <q-item-section>{{ $t("navigation.settings") }}</q-item-section>
      </q-item>

      <q-toolbar class="bg-primary text-white">
        <q-toolbar-title>{{ $t("navigation.staticWebsite") }}</q-toolbar-title>
      </q-toolbar>

      <q-item :to="{ name: 'pages-list' }" clickable>
        <q-item-section avatar>
          <q-icon color="primary" size="xs" name="fas fa-copy" />
        </q-item-section>
        <q-item-section>{{ $t("navigation.pages") }}</q-item-section>
      </q-item>

      <q-item :to="{ name: 'theme-edit' }" clickable>
        <q-item-section avatar>
          <q-icon color="primary" size="xs" name="fas fa-palette" />
        </q-item-section>
        <q-item-section>{{ $t("navigation.theme") }}</q-item-section>
      </q-item>

      <q-toolbar class="bg-primary text-white">
        <q-toolbar-title>#</q-toolbar-title>
      </q-toolbar>

      <q-item v-on:click="logout" clickable>
        <q-item-section avatar>
          <q-icon color="primary" size="xs" name="fas fa-door-open" />
        </q-item-section>
        <q-item-section>{{ $t("navigation.logout") }}</q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script>
import { mapState } from "vuex";

import ButtonGenerator from "components/ButtonGenerator";
import DynamicMenu from "components/DynamicMenu";
import Welcome from "components/Welcome";

export default {
  components: {
    ButtonGenerator,
    DynamicMenu,
    Welcome,
  },
  computed: {
    ...mapState({
      settings: (state) => state.settings.settings,
    }),
  },
  methods: {
    logout: function () {
      this.$store.dispatch("auth/logoutUser");
      this.$router.push({ name: "login" });
    },
  },
};
</script>
