<template>
  <div>
    <q-badge
      v-if="permissions.allow_everyone"
      color="negative"
      :label="$t('permissions.everyone')"
    />
    <q-badge
      v-else-if="
        permissions.groups_own_objects ||
        (permissions.groups && permissions.groups.length > 0)
      "
      color="secondary"
      :label="$t('permissions.someGroups')"
    />
    <q-badge
      v-else
      color="positive"
      :label="$t('permissions.administrators')"
    />
  </div>
</template>

<script>
export default {
  props: {
    permissions: {
      type: Object,
      required: true,
    },
  },
};
</script>
