{# Nous sommes ici dans un template pour page multiple. Cela veut dire que pour
chaque objet qu'il y a dans un modèle, ce template va être utilisé pour généré
chaque page d'affichage de cet objet en particulier. Lors de la génération d'une
page multiple, l'objet "object" est injecté dans le contexte de génération Cet
"objet" se compose de plusieurs champs de base tels que: - created - modified -
link - title - description - data: - link data renferme tous les champs
spécifiés dans le backoffice pour un modèle #} {% extends 'base.html' %} {# Le
template héritant de base.html, ce bloc sera injecté dans le bloc "content" de
base.html #} {% block content %}

<section class="py-5">
  <div class="container">
    <img src="{{ object.data.image }}" class="img-fluid" alt="" />
    <h1>{{ object.data.title }}</h1>
    <p>
      written on {{ created.strftime('%m-%d-%Y') }}
    </p>
    <p>{{ object.data.contenu }}</p>
  </div>
</section>

<section class="py-5">
  <div class="container">
    {{ informations_de_contact }}
  </div>
</section>

{% endblock %}

