{#

Nous sommes ici dans un template pour une page simple.
Dans le contexte est injecté tous les modèles renseignés dans le backoffice.

Nous pouvons donc boucler comme c'est le cas ici sur le modèle "article_de_blog" afin
d'affiche tous les articles.

Comme ce n'est pas une page multiple, il n'y a pas de notion d' "object" ici. (Voir blogpost_detail.html

#}

{% extends 'base.html' %}

{# Le template héritant de base.html, ce bloc sera injecté dans le bloc "content" de base.html #}
{% block content %}

<main>

  <section class="py-5">

      <div class="container overflow-hidden"">
        <div class="row row-cols-3 g-6">

          {# Ici, on va boucler sur toutes les articles du modèle "Articles de blog" #}
          {% for article in articles_de_blog %}
              <div class="col-4 p-6">
                <div class="card">

                  {# Et pour chaque champs de l'article, on peut les référencer comme ceci #}
                  <img src="{{ article.data.image }}"" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">
                      {% if lang == "fr" %}
                        écrit le {{ article.created.strftime('%d-%m-%Y') }}
                      {% else %}
                        written on {{ article.created.strftime('%m-%d-%Y') }}
                      {% endif %} 
                    </p>
                    <h5 class="card-title">{{ article.data.title }}</h5>
                    <a href="{{ article.url }}" class="btn btn-primary">
                      {% if lang == "fr" %}
                        Lire l'article
                      {% else %}
                        Read more
                      {% endif %} 
                    </a>
                  </div>
                </div>
              </div>
          {% endfor %}

         </div>
      </div>

  </section>

</main>
   
{% endblock %}