{# Ce template hérite de base.html #}
{% extends 'base.html' %}

{# Le template héritant de base.html, ce bloc sera injecté dans le bloc "content" de base.html #}
{% block content %}

<main>

    <section class="py-5 text-center">
        <div class="container">
        <h1>C'est la page de contact !</h1>
        <p class="lead">Malheureusement, on ne gère pas encore les formulaires...</p>
        <p>... mais vous pouvez nous contacter à l'adresse coucou@...com !</p>
        </div>
    </section>

</main>


{% endblock %}
