<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Candelapp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      {% if lang == "fr" %}
        {% include "menu_fr.html" %}
      {% else %}
        {% include "menu_en.html" %}
      {% endif %}
    </div>
    <div class="justify-content-right">
      {% for elem in family_urls %} {% for lang, url in elem.items() %}
      <a class="lang-link" href="{{ url }}">{{ lang }}</a>
      {% endfor %} {% endfor %}
    </div>
  </div>
</nav>

<header
  class="py-5 bg-image-full"
  style="background-image: url('/assets/images/header.webp')"
>
  <div style="height: 300px"></div>
</header>
