<ul class="navbar-nav ml-auto">
    <li class="nav-item active">
        <a class="nav-link" href="/">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/blog/">Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contact/">Contact</a>
    </li>
</ul>