body {
  padding-top: 56px;
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.lang-link {
  color: gray;
  text-decoration: none;
  padding: 0.5rem;
}
.lang-link:hover {
  color: whitesmoke;
}