<template>
  <q-page>
    <div class="row justify-center content-center" style="height: 40em">
      <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2" style="overflow: auto">
        <div style="width: 100%">
          <Logo style="margin-bottom: 20px" />
        </div>
        <q-form @submit.prevent="loginUser" class="q-gutter-md">
          <q-input
            outlined
            v-model="email"
            :label="$t('login.email')"
            stack-label
            :rules="[(val) => !!val || 'Requis']"
          >
            <template v-slot:prepend>
              <q-icon name="fas fa-user" color="primary" />
            </template>
          </q-input>

          <q-input
            outlined
            type="password"
            v-model="password"
            :label="$t('login.password')"
            stack-label
            :rules="[(val) => !!val || 'Requis']"
          >
            <template v-slot:prepend>
              <q-icon name="fas fa-lock" color="secondary" />
            </template>
          </q-input>

          <div>
            <q-btn :label="$t('login.login')" type="submit" color="primary" />
          </div>
        </q-form>
      </div>
    </div>
  </q-page>
</template>

<script>
import { Notify } from "quasar";
import Logo from "components/Logo.vue";
import { updateBrand } from "src/utils/helpers";
export default {
  name: "Login",
  components: {
    Logo,
  },
  data() {
    return {
      email: "",
      password: "",
      errors: [],
    };
  },
  async created() {
    const response = await this.$store.dispatch(
      "settings/getInterfaceSettings"
    );
    if (response.data.colors && response.data.colors.primary) {
      updateBrand(response.data.colors);
    }
  },
  methods: {
    async loginUser() {
      try {
        await this.$store.dispatch("auth/loginUser", {
          email: this.email,
          password: this.password,
        });

        const user = this.$store.getters["auth/user"];

        if (!user.is_admin) {
          Notify.create({
            message: this.$t("login.notAuthorized"),
            color: "negative",
          });
          this.$store.dispatch("auth/logoutUser");
          return;
        }

        // Populate store after login
        await this.$store.dispatch("settings/getSettings");
        await this.$store.dispatch("settings/getLanguages");

        this.$router.push({ name: "models-list" });
      } catch (error) {
        Notify.create({
          message: error.response.data.non_field_errors,
          color: "negative",
        });
      }
    },
  },
};
</script>
