<template>
  <q-layout view="hHh lpR fFf">
    <q-header bordered class="bg-primary text-white">
      <q-toolbar>
        <q-btn dense flat round icon="fas fa-bars" @click="left = !left" />

        <q-toolbar-title
          style="height: 60px; max-width: 120px; margin-top: 5px; margin-bottom: 5px"
        >
          <Logo />
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer bordered show-if-above v-model="left" side="left">
      <MenuNavigation />
    </q-drawer>

    <q-page-container>
      <q-toolbar>
        <q-toolbar-title>
          <q-breadcrumbs class="text-primary" active-color="black">
            <template v-slot:separator>
              <q-icon name="fas fa-long-arrow-alt-right" color="primary" />
            </template>
            <q-breadcrumbs-el
              v-for="(breadcrumb, index) in this.$route.meta.breadcrumb"
              :key="index"
              :label="breadcrumb.name"
              :to="{ name: breadcrumb.link }"
            />
          </q-breadcrumbs>
        </q-toolbar-title>
      </q-toolbar>
      <q-separator />
      <router-view :key="$route.fullPath" />
    </q-page-container>
  </q-layout>
</template>

<script>
import Logo from "components/Logo";
import MenuNavigation from "components/MenuNavigation";
import { updateBrand } from "src/utils/helpers";
export default {
  components: {
    Logo,
    MenuNavigation
  },
  data() {
    return {
      left: false
    };
  },
  async created() {
    const response = await this.$store.dispatch(
      "settings/getInterfaceSettings"
    );
    if (response.data.colors && response.data.colors.primary) {
      updateBrand(response.data.colors);
    }
  }
};
</script>

<style scoped>
.q-breadcrumbs {
  margin: 1em;
}
</style>
