<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>
    <script>
      window.configs = {
    "BACKOFFICE_URL_PATTERN":"{tenant}.localhost",
    "API_URL_PATTERN":"http://api.{tenant}.localhost"
};
    </script>
    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <link rel="icon" type="image/png" sizes="512x512" href="icon-512x512.png" />
    <link rel="icon" type="image/png" sizes="256x256" href="icon-256x256.png" />
    <link rel="icon" type="image/png" sizes="128x128" href="icon-128x128.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="icon-96x96.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="icon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="icon-16x16.png" />
    <link rel="icon" type="image/ico" href="favicon.ico" />
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
