<template>
  <div>
    <q-input
      outlined
      v-model="hexColor"
      :label="label"
      error-message
      lazy-rules
      :rules="rules"
    >
      <template v-slot:append>
        <q-icon name="fas fa-eye-dropper">
          <q-popup-proxy cover transition-show="scale" transition-hide="scale">
            <q-color no-header format-model="hex" @change="updateHex" />
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>
  </div>
</template>

<script>
export default {
  name: "ColorInput",
  props: {
    label: {
      type: String,
      required: true,
    },
    value: {
      type: String,
      default: "#ff9327",
    },
    required: {
      type: Boolean,
      default: false,
    },
    rules: {
      type: Array,
      default: function () {
        let rules = ["hexColor"];
        if (this.required == true) {
          rules.push((val) => (val && val.length) || $t("misc.required"));
        }
        return rules;
      },
    },
    error: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      hexColor: "",
    };
  },
  watch: {
    hexColor: function (val) {
      this.hexColor = val;
      this.$emit("input", this.hexColor);
    },
    value: function (val) {
      this.hexColor = val;
    },
  },
  methods: {
    updateHex(hex) {
      this.hexColor = hex;
    },
  },
};
</script>
