<template>
  <div>
    <q-card flat bordered style="padding: 10px">
      <p class="q-q-field__label no-pointer-events">
        {{ label }}
      </p>
      <q-input style="display: None" v-model="fileUrl" />

      <q-card-section>
        <div v-if="loading" style="display: flex; justify-content: center">
          <q-spinner color="primary" size="3em" :thickness="10" />
        </div>
        <div v-else style="display: flex; justify-content: center">
          <p v-if="fileUrl">
            <q-btn
              color="primary"
              icon="far fa-eye"
              type="a"
              :href="fileUrl"
              target="_blank"
              :label="getFileName"
            />
          </p>

          <q-icon
            v-else
            name="fas fa-file"
            class="text-primary"
            style="font-size: 5rem"
          />
        </div>
      </q-card-section>
      <q-separator inset />
      <q-card-section>
        <q-file
          outlined
          :label="$t('fileInput.send')"
          :hint="$t('fileInputSendHint')"
          :error-message="$t('fileInputSendError')"
          accept="audio/*, video/*, .doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document, .pdf"
          max-file-size="2000000"
          @input="handleUpload"
          @rejected="onReject"
          :error="error"
          :required="isRequired"
        >
          <template v-slot:prepend>
            <q-avatar>
              <q-icon name="fas fa-file" />
            </q-avatar>
          </template>
        </q-file>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
export default {
  name: "FileInput",
  props: {
    label: {
      type: String,
      required: true,
    },
    value: {
      type: String,
      default: null,
    },
    required: {
      type: Boolean,
      default: function () {
        if (this.value.length > 0) {
          return false;
        }
        return this.required;
      },
    },
  },
  data() {
    return {
      fileUrl: this.value,
      loading: false,
      error: false,
      isRequired: this.required,
    };
  },
  computed: {
    getFileName: function () {
      let splittedArray = this.fileUrl.split("/");
      return splittedArray[splittedArray.length - 1];
    },
  },
  watch: {
    value: function (val) {
      this.fileUrl = val;
      // If file exists, the value is not in the input
      // We don't need it to be required even if there's nothing
      // inside
      if (val && val.length > 0) {
        this.isRequired = false;
      }
    },
  },
  methods: {
    handleUpload(event) {
      this.postFile(event);
    },
    async postFile(event) {
      let formData = new FormData();
      formData.append("file", event);
      let response = null;
      try {
        this.loading = true;
        response = await this.$apiInstance.post(`/website/files/`, formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
        if (response.status === 201) {
          this.fileUrl = response.data.file;
          this.$emit("input", this.fileUrl);
        }
      } catch (error) {
        response = error.response;
      } finally {
        this.loading = false;
      }
    },
    onReject() {
      this.error = true;
      setTimeout(() => {
        this.error = false;
      }, 4000);
    },
  },
};
</script>
